<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel=" stylesheet" href="/admin/css/style.css">
    <link rel="stylesheet" href="/admin/css/orders.css">
    <title>Admin</title>
</head>
<!--start side bar-->
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <%- include('includes/side-bar')%>
            <div class="col d-flex flex-column h-sm-100">
                <h4>الطلبات</h4>
                <ul class="list-group categs">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1"
                            onclick="ordersByStatus('done')">المنتهية</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2" onclick="ordersByStatus('shpping')">في
                            الشحن</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3"
                            onclick="ordersByStatus('new')">جديد</label>
                    </div>
                    <% orders.forEach(o=>{%>
                        <li class="list-group-item orders o-<%=o.status%>">
                            <span class="user">
                                اسم المستحدم: <%=o.user.name%>
                                    /
                                    اجمالي الطلب: <%= o.total%>
                            </span>
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#id<%=o._id%>">عرض</button>
                            <button class="btn btn-dark" onclick="ChangeOrderStat('shpping', '<%=o._id%>')">شحن</button>
                            <button class="btn btn-success" onclick="ChangeOrderStat('done', '<%=o._id%>')">تم
                                بالكامل</button>
                            <button class="btn btn-danger">حذف</button>
                        </li>
                        <div class="modal fade" id="id<%=o._id%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group">
                                            <h3>بينات المنتجات</h3>
                                            <% o.prods.forEach(p=>{%>
                                                <li class="list-group-item">
                                                    اسم المنتج: <%=p.name%>
                                                        /
                                                        الكمية: <%=p.cardQ%>
                                                </li>
                                                <%}) %>
                                                    <hr>
                                                    <h3>بينات المستخدم</h3>
                                                    <li class="list-group">
                                                        اسم المستخدم : <%=o.user.name%>
                                                            اسم المستخدم بالكامل: <%=o.user.surname%>
                                                                /
                                                                الدولة: <%=o.user.country%>
                                                                    /
                                                                    المدينة: <%=o.user.city%>
                                                                        /
                                                                        العنوان: <%=o.user.address%>
                                                                            /
                                                                            الهاتف: <%= o.user.phone%>

                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%})%>
                </ul>
            </div>
    </div>
</div>
<!-- end side bar-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/admin/js/admin.js"></script>
</body>

</html>