<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="new-prods categ container-fluid">
            <div class="row">
                <h5>
                    <%=categ.name%>
                </h5>
            </div>
            <div class="row">
                <% categ.prods.forEach(p=>{ %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="card">
                            <img src="<%=p.imgs[0]%>" class="card-img-top" alt="produdct">
                            <div class="card-body">
                                <p class="card-text p-name">
                                    <%=p.name%>
                                </p>
                                <% if(p.offer){ %>
                                    <p class="card-text p-offer">
                                        <%=p.price%> $
                                    </p>
                                    <p class="card-text p-price">
                                        <%=Math.floor(p.price - ((p.offer*p.price) / 100))%> $
                                    </p>
                                    <%}else{ %>
                                        <p class="card-text p-price">
                                            <%=p.price%> $
                                        </p>
                                        <%} %>
                                            <a href="/prod/<%=p._id%>" class="btn btn-primary">عرض المنتج</a>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
        <%- include('includes/footer') %>