<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/main/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/main/css/style.css">
    <link rel="stylesheet" href="/main/css/media.css">
    <link rel="stylesheet" href="/main/css/cart.css">
</head>
<%- include("includes/header") %>
    <%if(prods[0]){%>
        <div class="container bootstrap snippets bootdey">
            <div class="col-md-9 col-sm-8 content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info panel-shadow">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>المنتجات</th>
                                                <th>الوصف</th>
                                                <th>الكمية</th>
                                                <th>السعر لكل قطعة</th>
                                                <th>السعر لكل القطع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% prods.forEach(p=>{%>
                                                <tr>
                                                    <td><img src="<%=p.imgs[0]%> " class="img-cart"></td>
                                                    <td><strong>
                                                            <%= p.name %>
                                                        </strong>
                                                    </td>
                                                    <td>
                                                        <div class="form-inline">
                                                            <input class="form-control" type="text" value="<%=p.cardQ%>"
                                                                readonly>
                                                            <button rel="tooltip" class="btn btn-default"
                                                                onclick="plusCard('<%=p._id%>')"><i
                                                                    class="fa-solid fa-plus"></i></button>
                                                            <button rel="tooltip" class="btn btn-default"
                                                                onclick="minCard('<%=p._id%>')"><i
                                                                    class="fa-solid fa-minus"></i></button>
                                                        </div>
                                                    </td>
                                                    <td>$<%=p.price%>
                                                    </td>
                                                    <%if(p.cardQ){%>
                                                        <td>$<%= p.price * p.cardQ%>
                                                        </td>
                                                        <% }else{%>
                                                            <td>$<%= p.price%>
                                                            </td>
                                                            <%}%>
                                                </tr>
                                                <%}) %>
                                                    <tr>
                                                        <td colspan="6">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-right">المجوع</td>
                                                        <td>$<%= total%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-right">ضريبة القيمة المضافة</td>
                                                        <td>20%</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-right"><strong>المجوع الكلي</strong>
                                                        </td>
                                                        <td>$<%=totalAll%>
                                                        </td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="/" class="btn btn-success"><span
                                class="glyphicon glyphicon-arrow-left"></span>&nbsp;تسوق المزيد</a>
                        <a href="/addOrder" class="btn btn-primary pull-right">اتمام الطلب<span
                                class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <%}else{%>
            <div class="markt">
                <p style="font-weight:500; margin-bottom: 3rem; font-size: 1.4rem;">سلة التسوق</p>
                <hr>
                <div class="markt-baskt">
                    <p>سلة التسوق فارغة</p>
                </div>
            </div>
            <%}%>

                <script src="/main/js/main.js"></script>
                <%- include('includes/footer') %>